<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mors's blog</title>
</head>
<body>
    
    <header>
        <h1><a href="/">mors Blog</a></h1>
    </header>
<br>
    <article>
        <time>published: 14.06.2014, 12:14</time>
        <h2><a href="">My first post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus tempore repellat natus ratione aliquid possimus in aut quod veritatis, ipsum dolorum suscipit perferendis modi.</p>
    </article>
<br>
    <article>
        <time>published: 14.06.2014, 12:14</time>
        <h2><a href="">My second post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic minima, provident necessitatibus officiis at eligendi corrupti error quia magni maxime veniam ipsam numquam dignissimos odio incidunt est sapiente.</p>
    </article>
   
</body>
</html>


